#bg {
  max-width: 940px;
  _width: 940px;
}
#bg .honbiki {
  width: 82.97872%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: -100%;
  margin-left: 17.02128%;
  margin-top: 10%;
}

nav ul {
  max-width: 940px;
  _width: 940px;
}
nav ul li {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}
nav ul li.li_last {
  width: 23.40426%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

#story {
  *zoom: 1;
  max-width: 940px;
  _width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10em;
}
#story:after {
  content: "";
  display: table;
  clear: both;
}
#story .story_h1 {
  margin: 10px 0px;
}

#tutor_content {
  margin: 0px auto;
}
#tutor_content #content {
  position: relative;
  top: -100%;
}
#tutor_content #content a div {
  background-color: #fff;
  height: 150%;
  filter: Alpha(opacity=0);
}

#video {
  *zoom: 1;
  max-width: 940px;
  _width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  background: transparent url("../images/saihonbiki.jpg") center 74px no-repeat;
  padding-bottom: 50em;
}
#video:after {
  content: "";
  display: table;
  clear: both;
}
#video .easyhtml5video {
  width: 6.38298%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: -100%;
  margin-left: 25.53191%;
  position: relative;
  visibility: hidden;
}
